@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--color-background: var(--color-slate-200);
	--color-foreground: var(--color-slate-900);
	--color-primary: var(--color-teal-500);
	--color-primary-hover: var(--color-teal-600);
	--color-primary-light: var(--color-teal-400);
	--color-secondary: #64748b;
	--color-secondary-hover: #475569;
	--color-accent: #a855f7;
	--color-accent-hover: #9333ea;
	--color-accent-light: #faf5ff;
	--color-success: #22c55e;
	--color-warning: #f59e0b;
	--color-error: #ef4444;
	--color-surface: var(--color-slate-300);
	--color-border: var(--color-slate-400);
	--color-text-muted: #94a3b8;
	--color-text-muted-hover: #64748b;
	--transition-fast: 150ms;
	--transition-base: 300ms;
	--transition-slow: 500ms;
	--transition-ease: cubic-bezier(0.4, 0, 0.2, 1);
}

.dark {
	--color-background: var(--color-zinc-900);
	--color-foreground: var(--color-zinc-100);
	--color-primary: var(--color-teal-600);
	--color-primary-hover: var(--color-teal-700);
	--color-primary-light: var(--color-teal-500);
	--color-secondary: #94a3b8;
	--color-secondary-hover: #cbd5e1;
	--color-accent: #c084fc;
	--color-accent-hover: #a855f7;
	--color-accent-light: #581c87;
	--color-success: #4ade80;
	--color-warning: #fbbf24;
	--color-error: #f87171;
	--color-surface: var(--color-zinc-800);
	--color-border: var(--color-zinc-600);
	--color-text-muted: #64748b;
	--color-text-muted-hover: #94a3b8;
}

@layer base {
	body {
		font-family: 'Open Sans', sans-serif;
	}
}
